[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
fastapi = "*"
fastapi-offline = "*"
uvicorn = "*"
gunicorn = "*"
aiofiles = "*"
requests = "*"
httpx = "*"
python-multipart = "*"
ujson = "*"
msgpack = "*"
tqdm = "*"
icc-rt = "*"
numpy = "<2"
numba = "*"
opencv-python = "*"
scikit-image = "*"
onnx = "<2.0.0,>=1.12.0"
onnxslim = ">=0.1.71"
onnxruntime-gpu = "*"
onnx-simplifier = "*"
ultralytics = "*"
torch = "*"
torchvision = "*"
exifread = "*"
imageio = "*"
tenacity = "*"
colorlog = "*"
pyturbojpeg = {git = "https://github.com/lilohuang/PyTurboJPEG.git"}
tritonclient = {extras = ["grpc", "http"], version = "*"}
aiohttp = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
