[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "nvidia-ngc"
url = "https://pypi.ngc.nvidia.com"
verify_ssl = true

[[source]]
name = "pytorch-cu126"
url = "https://download.pytorch.org/whl/cu126"
verify_ssl = true


[packages]
# ---- PyTorch CUDA 12.6 ----
torch = {version = "==2.9.1", index = "pytorch-cu126"}
torchvision = {version = "==0.24.1", index = "pytorch-cu126"}
torchaudio = {version = "==2.9.1", index = "pytorch-cu126"}

# ---- Web/API ----
fastapi = "*"
fastapi-offline = "*"
uvicorn = "*"
gunicorn = "*"
aiofiles = "*"
requests = "*"
httpx = "*"
python-multipart = "*"
ujson = "*"
msgpack = "*"
aiohttp = "*"
tenacity = "*"
colorlog = "*"

# ---- Core numeric / vision ----
numpy = "*"
numba = "*"
scikit-image = "*"
imageio = "*"
exifread = "*"
tqdm = "*"

# ---- ONNX / Inference ----
onnx = "<2.0.0,>=1.12.0"
onnxslim = ">=0.1.71"
onnxruntime-gpu = "*"
onnx-simplifier = "*"
tritonclient = {extras = ["grpc", "http"], version = "*"}

# ---- DL / CV ----
ultralytics = "*"
tensorboard = "*"
gdown = "*"
pyturbojpeg = {git = "https://github.com/lilohuang/PyTurboJPEG.git"}

# ---- Misc ----
icc-rt = "*"


[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
